extends layout

block content

    h1 Update Book
    form(action="/books/"+book.id , method="post" )
        label Title:
        input(type="text" name="title" placeholder=book.title value= book.title)
        br
        label Author:
        input(type="text" name="author" placeholder=book.author value= book.author)
        br
        label Genre:
        input(type="text" name="genre" placeholder=book.genre value= book.genre)
        br
        label Year:
        input(type="text" name="year" placeholder=book.year value= book.year) 
        br
        input(type="submit"  value="Update Book")
        
    form(action="/books/" + book.id + "/delete" method="post")
        a(href="/books") Cancel
        br
        input(type="submit"  value="Delete Book")