extends layout

block content

    h1 Update Book

    h2 Oooops!
    ol
        each err in error
            li= err.message

    form(action='/books/new' method="post")
        label Title:
        input(type="text" name="title" value= book.title)
        br
        label Author:
        input(type="text" name="author" value= book.author)
        br
        label Genre:
        input(type="text" name="genre" value= book.genre)
        br
        label Year:
        input(type="text" name="year" value= book.year)
        br
        input(type="submit"  value="Update Book")
    br
    a(href="/") Cancel
        
        